name: lung_app

services:
  pytorch:
    build: .
    image: lung_pytorch:latest
    container_name: lung_pytorch
    command: sleep infinity
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ./media:/usr/workspace/media
      - ./notebooks:/usr/workspace/notebooks
      - ./app:/usr/workspace/app
    shm_size: "8gb"
    ipc: "host"
    tty: true